# macOS
.DS_Store

# env
.env

# frontend
frontend/node_modules
frontend/dist
frontend/frontend-gateway

# backend
backend/app
backend/coverage.out

# build/release
release/*
!release/config-files.yml

# data
data/*.db
data/*.db-*

# logs
*.log

# local tooling cache
.tmp/
