[Unit]
Description=zenmind-app-server program bundle
After=network.target

[Service]
Type=forking
WorkingDirectory=/opt/zenmind-app-server
ExecStart=/opt/zenmind-app-server/start.sh
ExecStop=/opt/zenmind-app-server/stop.sh
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
