server:
  port: 8080

spring:
  datasource:
    driver-class-name: org.sqlite.JDBC
    url: jdbc:sqlite:${AUTH_DB_PATH:../data/auth.db}
  sql:
    init:
      mode: always
  cache:
    type: caffeine
  thymeleaf:
    cache: false

auth:
  issuer: ${AUTH_ISSUER:http://localhost:8080}
  token:
    access-ttl: PT15M
    refresh-ttl: P30D
    rotate-refresh-token: true
  admin:
    username: ${AUTH_ADMIN_USERNAME:admin}
    password-bcrypt: ${AUTH_ADMIN_PASSWORD_BCRYPT}
  app:
    username: ${AUTH_APP_USERNAME:app}
    master-password-bcrypt: ${AUTH_APP_MASTER_PASSWORD_BCRYPT}
    access-ttl: ${AUTH_APP_ACCESS_TTL:PT10M}
    max-access-ttl: ${AUTH_APP_MAX_ACCESS_TTL:PT12H}
    rotate-device-token: ${AUTH_APP_ROTATE_DEVICE_TOKEN:true}
    internal-webhook-secret: ${AUTH_APP_INTERNAL_WEBHOOK_SECRET:change-me}
  cleanup:
    retention: ${AUTH_CLEANUP_RETENTION:PT24H}
    cron: ${AUTH_CLEANUP_CRON:0 0 * * * *}
  bootstrap-user:
    username: ${AUTH_BOOTSTRAP_USER:}
    password-bcrypt: ${AUTH_BOOTSTRAP_PASSWORD_BCRYPT:}
    display-name: ${AUTH_BOOTSTRAP_DISPLAY:}

logging:
  level:
    org.springframework.security: INFO
